doctype html
block vars
  - var bodyclass = null;
html(lang='en')
  head
    block title
      title 
        = locals.name
      meta(property='og:title', content=locals.name)
      meta(charset='utf-8')

    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')

    link(rel='author', href='https://twitter.com/chrplace')

    block meta
      meta(property='og:description', content=locals.description)
      meta(name='description', content=locals.description)
      meta(name='keywords', content='An empty box')


    meta(property='og:author', content='Christian Place')
    meta(property='og:site_name', content='The Empty Box')
    meta(property='og:type', content='website')
    meta(property='og:url', content='#{locals.url}#{page.url}')

    //link(rel='icon', href='/favicon.ico?v=4', type='image/x-icon')

    link(rel='stylesheet', href='/css/style.css')

  body(class=bodyclass)
    header.header
      div
        block header
          div.logo
            h1
              = locals.name
    div#content
      div.content-wrap
        block content
    footer
      div
        block footer
          section.copy
            p &copy; #{ new Date().getFullYear() } #{ locals.owner } &mdash; powered by&nbsp;
              a(href='https://github.com/jnordberg/wintersmith') Wintersmith
              //- please leave the "powered by" if you use the design
